.botaoVoltar {
  display: block;
  padding: 16px;
  border: none;
  background-color: #00000000;
  color: #ff2e2e;
  border-radius: 60px;
  font-size: 2vw;
  width: 10%;
}

.listapokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokemons {
  width: 10vw;
  min-width: 250px;
  margin-bottom: 16px;
  background-color: rgb(212, 0, 0);
  border: 1px solid #000000;
  border-radius: 50px;
  font-size: 2em;
  text-align: center;
  color: #000000;
  cursor: pointer;
  padding: 16px;
  border-radius: 60px;
  border: 5px solid black;
}

.pokemons:hover {
  background-color: #f9f9f9;
  border-color: #ccc;
}